Django==1.8
django-appconf==1.0.1
django-compressor==1.5
django-debug-toolbar==1.4
django-pagedown==0.1.0
gunicorn==19.6.0
Markdown==2.4.1
Pillow==3.0.0
Pygments==2.1
python3-memcached==1.51
six==1.9.0
sqlparse==0.1.16
