h1, h2, h3 {
    font-family: 'Roboto-Bold';
    color: rgb(98, 110, 122);
}

h1 {
    margin-bottom: -15px;
}

ul {
    list-style-type: disc;
}

ul li {
    list-style-type: disc;
}

img {
    max-width: 100%;
    height: auto;
}

.article a {
    color: skyblue;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    text-decoration: none;
    text-transform: none;
    margin-right: 0px;
}

.article a:hover {
    color: lightblue;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

.card {
    padding: 0px; !important
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #e7e7e7;
}

.card-title h1 {
    margin-bottom: -20px;
    margin-top: 0px;
    font-family: 'Roboto-Bold';
    color: rgb(98, 110, 122);
    font-size: 1.6rem;
}

.card-title span:first-of-type {
    color: #949494;
    font-size: 1rem;
}

.card-content {
    padding-top: 1rem;
    font-size: 1.4rem;
}

.article-header {
    padding-left: 5%;
    padding-right: 5%;
    color: #949494;
}

.hr {
    border-bottom: 1px #e7e7e7 solid;
    padding-top: 12px;
}

blockquote {
    background-color: #f7f7f7;
    margin: 1.7rem 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-left: 8px solid #ddd;
}

.expand-container {
    position: relative;
    float:right;
    top: -5px;
    right: 7px;
}

.card-content {
    color: #8894a0;
}
