.card {
    padding: 0px; !important
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #e0e0e0;
    color: rgba(46,48,58,0.96);
    box-shadow: none;
}

.card h1 {
    font-size: 2.2rem;
    line-height: 2.48rem;
}

.card h2 {
    font-size: 1.48rem;
    line-height: 2.42rem;
    margin: 0px !important;
}

.card .card-title {
    line-height: 1rem;
    color: rgba(46,48,58,0.96);
}

.card .hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card {
    overflow: visible;
    margin-bottom: 0px;
}

.card .card-image {
    position: relative;
    overflow: visible;
}

.card .card-title {
    text-align: left;
    padding-bottom: 1.48rem;
}

.card .card-title h1 {
    margin-bottom: .6rem;
}

.card .meta {
    padding-left: 1.2rem;
}

.meta-seperator {
    font-size: 1.2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    color: #737685;
}

.meta-author, .meta-date {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1.12rem;
    color: rgba(46,48,58,0.96);
}

.meta-date {
    font-style: normal;
}

.meta-tags {
    text-transform: uppercase;
    font-size: .8rem;
}

.card .card-action a:hover {
    color: tomato;
}

.card .card-action a{
    color: #E53935;
}

.card-content p {
    font-family: 'PT Serif';
    line-height: 1.6;
    font-size: 1rem;
    color: rgba(46,48,58,0.96);
}

.card pre, .card code{
    word-wrap: normal;
    white-space: normal;
}
