
body {
    background-color: #f0f0f0;
}

.card {
    padding: 0px; !important
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #e7e7e7;
}

.card-title h1 {
    margin-bottom: -20px;
    margin-top: 0px;
    font-family: 'Roboto-Bold';
    color: rgb(98, 110, 122);
    font-size: 1.6rem;
}

.card-title span:first-of-type {
    color: #949494;
    font-size: 1rem;
}

.card-content {
    padding-top: 1rem;
    font-size: 1.4rem;
}

.collapsed .card-content h2,
.collapsed .card-content h3,
.collapsed .card-content h4 {
    font-size: 1.2rem;
    margin: 0px;
}

.card-content {
    color: #8894a0;
}
