
.codehilite {
    margin: 1.7rem 0;
    padding: 8px;
    font-size: .8rem;
    border: 1px solid #ddd;
    border-left: 8px solid #ddd;
    font-family: monaco, monospace;
}

pre, code {
    white-space: nowrap;
    font-family: monospace;
    font-size: .7rem;
    padding: 2px;
    border-radius: 2px;
}

li code {
}

p code {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}
