
.codehilite {
    margin: 1.7rem 0;
    padding: 8px;
    font-size: .8rem;
    border: 1px solid #ddd;
    border-left: 8px solid #ddd;
    font-family: monaco, monospace;
}

pre code {
    border-radius: 3px;
    color: rgba(46,48,58,0.96);
    display: block;
    font-size: 0.9rem;
    outline: none;
    overflow-x: auto;
    padding: 0.8rem 1.1rem;
    white-space: inherit;
}

li code {
}

p code {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: .18rem;
    background-color: #f7f7f7;
    white-space: nowrap;
    font-family: monaco, monospace;
    font-size: 1.06rem;
    letter-spacing: -0.4px;
    vertical-align: baseline;
}
