
.codehilite {
  margin: 1.7rem 0;
  padding: 8px;
  font-size: .8rem;
  border: 1px solid #ddd;
  border-left: 8px solid #ddd;
  font-family: monaco, monospace;
}

pre, code {
  font-size: 1rem;
}

li code {
}

p code {
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}
