
/* ==========================================
 * Universal Styles
 * =========================================*/

html, body {
    font-family: "Roboto-Regular";
    font-size: 16px;
}

menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* adds animation for all transitions */
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    padding: 0;
}

pre {
    border: none;
    background: none;
    font-size: 16px;
    padding: none;
    margin: none;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
    text-decoration: none;
}

main {
    margin-top: 50px;
}

/* ==========================================
 * Font Styles
 * =========================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic);

@font-face {
    font-family: "Roboto-Regular";
    src: url(/static/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(/static/fonts/Roboto-Bold.ttf);
}


/* ==========================================
 * Custom Styles
 * =========================================*/

body {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.952941);
}

.navbar nav {
    color: rgb(98, 110, 122);
    moz-box-shadow: none;
    webkit-box-shadow: none;
    border-bottom: 1px solid #eee;
    transition: top 0.3s ease-in-out;
}

.mdi-navigation {
    color: rgb(98, 110, 122);
}

.portrait img {
    background-color: #333;
    margin-top: 1.6rem;
    height: 128px;
    width: 128px;
}

.logo {
    padding: 10px;
    padding-right: 0px;
}

.brand-logo::before {
    content: "|";
    color: rgb(98, 110, 122);
}

.brand-logo {
    font-size: 1.8rem !important;
}

.nav-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-wrapper img {
    height: 100%;
    width: auto;
}

.nav-links li a {
    color: rgb(100, 100, 100);
    text-transform: uppercase;
}

.nav-links li a:hover {
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    color: tomato;
}

.nav-links li:hover {
    background: none;
}

.nav-links li {
    list-style-type: none;
}

.no-shadow {
    box-shadow: none;
}

h1, h2, h3 {
    font-family: 'Roboto';
    color: #383838;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

h1 {
    font-size: 2.68rem;
    margin-bottom: .6rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.48rem;
}

.article ul li {
    margin-left: 1.2rem;
}

.article ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.article a {
    color: #E53935;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    text-decoration: none;
    text-transform: none;
    margin-right: 0px;
}

.article a:hover {
    color: tomato;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

.article-header {
    padding-left: 5%;
    padding-right: 5%;
    color: #949494;
    text-align: center;
}

.hr {
    border-bottom: 1px #e7e7e7 solid;
    margin-bottom: 1.4rem;
}

blockquote {
    background-color: #f7f7f7;
    margin: 1.7rem 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-left: 8px solid #ddd;
}

.expand-container {
    position: relative;
    float:right;
    top: -5px;
    right: 7px;
}

.meta-seperator {
    padding-left: .3rem;
    padding-right: .3rem;
}

.meta-author, .meta-date {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1.12rem;
    color: rgba(46,48,58,0.96);
}

.meta-date {
    font-style: normal;
}

.meta-tags {
    text-transform: uppercase;
    font-size: .8rem;
}

/* ==========================================
 * Media Styles
 * =========================================*/

@media only screen
and (max-device-width: 480px) {
    html, body {
        font-size: 10px;
    }
    #nav-links li a {
        font-size: 2.8rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    header .top-nav nav {
        height: 7rem;
    }
    #page-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 0px) {
    /* Styles */
    .logo {
        visibility: hidden;
    }
}

@media screen
and (min-width 40em) {
    .title {
        font-family: calluna-sans, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-bottom: 2rem !important;
    }
}

@media only screen
and (min-width : 600px) {
    /* Styles */
    .logo {
        visibility: hidden;
    }

    .container {
        padding: 0px !important;
    }
}


@media only screen
and (max-width : 992px) {
    /* Styles */
    .brand-logo::before {
        content: "";
    }

    .logo {
        display: none;
    }
}

@media only screen
and (min-width : 1080px) {
    /* Styles */
    .logo {
        visibility: visible;
    }
}

@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

