{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{article.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/article.css" %}">
<link rel="stylesheet" href="{% static "css/article-single.css" %}">
<link rel="stylesheet" href="{% static "css/codehilite.css" %}">
{% endblock head %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
  <a name="top"></a>
  <div class="article">
    <div id="{{article.slug}}" class="article-container">
      <div class="article-header">
        <h1>{{article.title}}</h1>
        <span>
          by: {{article.author.get_full_name}},
          {{article.date_publish}} {% for c in article.categories.all %} | {{c.title}}{% endfor %}
        </span>

      </div>
      <div class="hr"></div>
      <div class="card-content">
        {% autoescape off %}
        {{article.content_markup}}
        {% endautoescape %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script src="{% static "js/article.js" %}"></script>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endblock script %}
