{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{article.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/article.css" %}">
<link rel="stylesheet" href="{% static "css/codehilite.css" %}">
{% endblock head %}

{% block header %}{% endblock %}

{% block content %}
<div id="content-container" cross-fade>
  <a name="top"></a>
  <div class="blog-container" flex vertical center-justified layout>
    <div id="back-top-container" style="">
      <a href="#top" style="text-decoration: none; color: #303030; float: right;">
        <paper-fab icon="expand-less" style="position: fixed; right: 6%; top: 90%; z-index: 10;"></paper-fab>
      </a>
    </div>
    <div>
      {% include "include/article.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script src="{% static "js/article.js" %}"></script>
{% endblock script %}
