{% load staticfiles %}

<div id="articles" style="margin-top: 2.4rem; margin-bottom: 4rem;">
 <div id="{{article.slug}}" class="article-container">
    <div class="article-header">
      <h1>{{article.title}}</h1>
      <span>
        by: {{article.author.get_full_name}},
        {{article.date_publish}} {% for c in article.categories.all %} | {{c.title}}{% endfor %}
      </span>

      <span class="expand-container">
        <a href="/blog/{{article.slug}}" target="">
        <paper-fab id="{{article.slug}}" icon="launch" class="mini article-expand">
        </paper-fab>
        </a>
      </span>
    </div>
    <div class="hr" style="width: 100%;"></div>
    <div class="article-text article-oneliner">
      {% autoescape off %}
      {{article.summary_markup}}
      {% endautoescape %}
    </div>
  </div>
</div>
