{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- 1. Load platform.js for polyfill support. -->
    <script src=" {% static "components/platform/platform.js" %}"></script>

    <!-- 2. Use an HTML Import to bring in the element. -->
    <link rel="import" href="{% static "components/core-ajax/core-ajax.html" %}">
    <link rel="import" href="{% static "components/core-menu/core-menu.html" %}">
    <link rel="import" href="{% static "components/core-item/core-item.html" %}">
    <link rel="import" href="{% static "components/core-icons/core-icons.html" %}">
    <link rel="import" href="{% static "components/core-toolbar/core-toolbar.html" %}">
    <link rel="import" href="{% static "components/core-tooltip/core-tooltip.html" %}">
    <link rel="import" href="{% static "components/core-header-panel/core-header-panel.html" %}">
    <link rel="import" href="{% static "components/core-drawer-panel/core-drawer-panel.html" %}">

    <link rel="import" href="{% static "components/paper-item/paper-item.html" %}">
    <link rel="import" href="{% static "components/paper-toast/paper-toast.html" %}">
    <link rel="import" href="{% static "components/paper-elements/paper-elements.html" %}">
    <link rel="import" href="{% static "components/paper-icon-button/paper-icon-button.html" %}">

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <!-- Custom css -->
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>

  </head>

  <body unresolved>
    <div class="container-fluid">

      <div class="row">
        <core-drawer-panel responsiveWidth="720px" id="drawerPanel">

        <core-header-panel drawer mode="waterfall" class="cs-inset-box-shadow">
        <core-toolbar>
        <span id="menu-header">Dissonant</span>
        </core-toolbar>
        <menu flex vertical layout>
          <core-item label="Home"></core-item>
          <core-item label="Projects"></core-item>
          <core-item label="About"></core-item>
          <core-item label="Contact"></core-item>
        </menu>
        </core-header-panel>

        <core-header-panel main mode="waterfall-tall">
        <core-toolbar id="mainheader">
        <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
        <span id="title" flex> {% block header-title %} Home {% endblock header-title %}</span>
        <paper-toast text="This feature is still under construction.">
        <paper-icon-button id="morebutton" icon="more-vert"></paper-icon-button>
        </paper-toast>
        </core-toolbar>

        <div id="page-content" vertical layout>

          <div id="banner-container" flex>
            <div id="scene-container">
              <div id="banner">
                <h1> &lt; <u>Hello World!</u> &#47;&gt; </h1>
              </div>
            </div>
          </div>

          <div id="paper-post-container" class="container-fluid" vertical center-justified layout>

            <div class="paper-post row" vertical layout>
              <div class="col-lg-12">
                <paper-shadow z="2"></paper-shadow>
                <div class="post-header row" flex>
                  <div class="post-fab">
                    <div class="fab-container">
                      <core-tooltip label="This feature is still under construction">
                      <paper-fab icon="launch"></paper-fab>
                      </core-tooltip>
                    </div>
                  </div>
                  <paper-shadow z="0"></paper-shadow>
                  <div class="post-header">
                    <img src=" {% static "images/Header1.jpg" %} ">
                    <div class="post-header-title">
                      <h1 id="welcome!" flex>Welcome!</h1>
                    </div>
                    <div class="post-header-subtitle">
                      <h6>This is Dissonant-Tech's first post</h6>
                    </div>
                  </div>
                </div>
                <div class="post-body">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                  no sea takimata sanctus est Lorem ipsum dolor sit amet.

                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                  no sea takimata sanctus est Lorem ipsum dolor sit amet.

                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  <code>
                    def test_function():
                    test_var = "test"
                    var2 = 10
                  </code>
                </div>
              </div>
            </div>
          </div>

        </div>

        </core-header-panel>
        </core-drawer-panel>

      </div>
    </div>
  </body>

  <!-- 3. Declare the element. Configure using its attributes. -->
  <core-ajax url="http://example.com/json" handleAs="json"></core-ajax>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>

  <script type="text/javascript">
// Wait for 'polymer-ready'. Ensures the element is upgraded.
window.addEventListener('polymer-ready', function(e) {
  var ajax = document.querySelector('core-ajax');

  // Respond to events it fires.
  ajax.addEventListener('core-response', function(e) {
    console.log(this.response);
  });

  ajax.go(); // Call its API methods.
});
document.addEventListener('polymer-ready', function() {
  var navicon = document.getElementById('navicon');
  var drawerPanel = document.getElementById('drawerPanel');
  navicon.addEventListener('click', function() {
    drawerPanel.togglePanel();
  });
});
  </script>
</html>
