
/* ==========================================
 * Universal Styles
 * =========================================*/

body {
  font-family: "Roboto-Regular";
  font-size: 14px;
}

menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* adds animation for all transitions */
  -webkit-transition: .45s ease-in-out;
  -moz-transition: .45s ease-in-out;
  -o-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

pre {
  border: none;
  background: none;
  font-family: "Roboto-Regular";
  font-size: 16px;
  padding: none;
  margin: none;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
  text-decoration: none;
}

code {
}

/* ==========================================
 * Font Styles
 * =========================================*/

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

/* ==========================================
 * Helper classes
 * =========================================*/

.cs-inset-box-shadow {
  -moz-box-shadow: inset -7px 0px 9px -7px rgba(0, 0, 0, 0.258824);
  -webkit-box-shadow: inset -7px 0px 9px -7px rgba(0, 0, 0, 0.258824);
  box-shadow: inset -7px 0px 9px -7px rgba(0, 0, 0, 0.258824);
}

.cs-box-shadow {
  -moz-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}

/* ==========================================
 * Drawer/Header Styles
 * =========================================*/


/* ==========================================
 * Custom Styles
 * =========================================*/

core-header-panel {
  background: white;
}

#mainheader {
  background-color: #03A9F4;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 2.4rem;
  background: #2ba7d8; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2ba7d8 0%, #03a9f4 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2ba7d8), color-stop(100%,#03a9f4)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #2ba7d8 0%,#03a9f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #2ba7d8 0%,#03a9f4 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #2ba7d8 0%,#03a9f4 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #2ba7d8 0%,#03a9f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba7d8', endColorstr='#03a9f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

core-toolbar {
  background: #ffffff;
}

#drawer-toolbar {
  border-bottom: 1px solid #eee;
}

core-toolbar > #menu-header {
  padding-left: 0;
  margin-left: 0;
  font-family: "Roboto-Thin";
}

.content {
  padding: 20px;
}

menu {
  padding: 0;
}


#banner-container {
  background-color: #03A9F4;
  padding-bottom: 4rem;
  width: 100%;
}

#banner {
    margin-left: 10%;
    margin-right: 10%;
}

#page-content {
  position: relative;
}

#page-content > core-pages h1 {
  margin-top: 0;
}

/* Post Styles ----------- */
#paper-post-container {
  margin: 2rem;
  margin-left: 9%;
  margin-right: 9%;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  /* Styles */
}

@media only screen
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

