<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}|Dissonant-Tech</title>
    {% load staticfiles  %}

    <!-- Custom css -->
    <link href="{% static "css/materialize.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="top-nav navbar-fixed">
      <div class="row">
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
          <div class="col s1 right-align">
            <a href="#">
              <i class="small mdi-navigation-menu"></i>
            </a>
          </div>
          <div class="col s4">
            Dissonant-Tech
          </div>
          <div class="col s4 right side-nav">
            <ul>
              <li class="waves-effect"><a href="/">Home</a></li>
              <li class="waves-effect"><a href="/projects">Projects</a></li>
              <li class="waves-effect"><a href="/about">About</a></li>
              <li class="waves-effect"><a href="/contact">Conact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </div>
    </div>

    <div id="page-content">
      {% block content %}

      {% endblock content %}
    </div>

    <div class="footer">
      {% block footer %}

      {% endblock footer %}
    </div>
  </body>

  <!-- Date.js - for date formatting -->
  <script src="{% static "js/date.js" %}"></script>

  <script src=" {% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src=" {% static "js/materialize.min.js" %}"></script>

  <script type="text/javascript">

  var lastScrollTop = 0;
  $(window).scroll(function(event){
    var st = $(this).scrollTop();
    if (st > lastScrollTop){
      // downscroll code
    } else {
      // upscroll code
    }
    lastScrollTop = st;
  });

// format dates to a 'prettier' format
function formatDate(_date) {
  return Date.parse(_date).toString('d MMM yyyy');
}

// Check if an element has a class
function hasClass(element, cls) {
  return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}
  </script>


  {% block script %}

  {% endblock script %}

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-53558286-1', 'auto');
ga('send', 'pageview');
  </script>
</html>
