{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}
{% load compress %}

{% block head %}
<link rel="stylesheet" href="{% static "css/card.css" %}">
{% endblock head %}

{% block content %}
<div id="Home" class="container" >
    <a name="top"></a>
    <div class="row">
        {% for article in articles %}
        {% if article.image  %}
        <div class="col s12 m12 l6">
            <div class="article card">
                <div class="card-image">
                    <img class="materialboxed" width="650" src="{% static "images/projects/pydzen.png" %}">
                    <span class="article-header card-title">
                        {{article.title}}
                    </span>
                    <div class="hr" style="width: 100%;"></div>
                </div>
                <div class="card-content row">
                    <div class="col s12">
                        {% autoescape off %}
                        {{article.content |markdown |truncatewords_html:75 }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="card-action center">
                    <a href="{% url 'blog.views.single' article.slug %}">Read More</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col s12 m12 l6">
            <div class="article card collapsed">
                <div id="{{article.slug}}" class="">
                    <div class="article-header card-title">

                        <h1>{{article.title}}</h1>

                        <div class="meta">
                            <span class="meta-author">
                                <a href="/contact">{{article.author.get_full_name}}</a>
                            </span>
                            <span class="meta-seperator">|</span>
                            <span class="meta-date">
                                {{article.date_publish}}
                            </span>
                            <br/>
                            <span class="meta-tags">
                                {{ article.categories.all | join:", " }}
                            </span>
                        </div>

                    </div>
                    <div class="hr" style="width: 100%;"></div>
                    <div class="card-content row">
                        <div class="col s12">
                            {% autoescape off %}
                            {{article.content |markdown |truncatewords_html:75 }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="card-action center">
                        <a href="{% url 'blog.views.single' article.slug %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
{% endblock script %}
