{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "css/article.css" %}">
<link rel="stylesheet" href="{% static "css/codehilite.css" %}">
{% endblock head %}

{% block content %}
<div id="Home" class="container" >
  <a name="top"></a>
  <div class="row">
    <div class="col s12">
      {% for article in articles %}
      {% include "include/article-collapsed.html" %}
      {% endfor %}
    </div>

    <div class="col hide-on-small-only m3 l2">
      
    </div>

  </div>
</div>


{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
{% endblock script %}
