{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "css/article.css" %}">
<link rel="stylesheet" href="{% static "css/codehilite.css" %}">
{% endblock head %}

{% block content %}
<div id="Home" class="container" >
    <a name="top"></a>
    {% for article in articles %}
        {% cycle '<div class="row">' ''%}
        {% include "include/article-collapsed.html" %}
        {% if forloop.last %}
            </div>
        {% else %}
            {% cycle '' '</div>' %}
        {% endif %}
    {% endfor %}
</div>


{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
{% endblock script %}
