{% extends "/blog/article/base.html" %}

{% block title %}Projects {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/project-page.css" %}">
{% endblock head %}

{% block header %}{% endblock %}

{% block content %}
<div id="Projects" class="container">
  <div class="row col s12">

    <div class="col s5 left">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" width="650" src="{% static "images/projects/pydzen.png" %}">
          <span class="card-title">Pydzen</span>
        </div>
        <div class="card-content">
          <p>Pydzen is a wrapper script around dzen, written in python, to easily create 
          nice looking statusbars.</p>
        </div>
      </div>
    </div>

    <div class="col s5 right">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" width="650" src="{% static "images/projects/dissonant-tech.png" %}">
          <span class="card-title">Dissonant-Tech</span>
        </div>
        <div class="card-content">
          <p>This webpage! You can find out more about how this site was built here.</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('materialboxed').materialbox();
  });
</script>
{% endblock script %}
