.form-row p, .wmd-preview * {
    font-family: "Droid-Serif";
}

#id_content_markdown_wmd_preview {
  font-size: 1rem;
  line-height: 1.86rem;
  font-family: 'Droid-Serif';
  color: #555555;
  visibility:visible;
  opacity:1;
  max-height: 900px;
  -moz-transition: max-height 1s ease,opacity 1s ease;
  -webkit-transition: max-height 1s ease,opacity 1s ease;
  -o-transition: max-height 1s ease,opacity 1s ease;
  transition: max-height 1s ease,opacity 1s ease;
}

#id_content_markdown_wmd_preview p {
  font-size: 1rem;
  line-height: 1.86rem;
  font-family: 'Droid-Serif';
  color: #555555;
}

#id_content_markdown_wmd_preview a {
  color: tomato;
  font-family: 'Droid-Serif';
}

a {
  color: tomato;
  font-family: 'Droid-Serif';
}

#id_content_markdown_wmd_preview a:hover {
  color: tomato;
  text-decoration: underline;
}
