{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block head %}
<style type="text/css" media="screen">
.bg-grey-small {
  background-color: #f7f7f7;
}
#subheader h4 {
  margin-bottom: .3rem;
  font-size: .984rem;
  vertical-align: middle;
}
.blog-container {
  padding-left: 7%;
  padding-right: 7%;
}
.blog-header-container {
  border-bottom: 5px red solid;
}
.blog-header h1 {
  font-size: 2.8rem;
  margin-left: 2.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #4c4d4f;
}
</style>
{% endblock head %}

{% block header %}{% endblock header %}

{% block content %}
<div id="Home" cross-fade>
  <a name="top"></a>
  <div id="subheader" class="bg-grey-small cs-inset-boxshadow-bottom" flex horizontal layout>
    <div id="subheader-text" style="padding-left: 3.8rem; color: #202020; opacity: .8;" center-justified>
      <h4>David Rodriguez -
        <span style="color:#d5402b;">Blogs</span> |
        <span style="color:#972ff8;">Tutorials</span> |
        <span style="color:#DAA520;">Web Design</span> |
        <span style="color:#6495ED;">Programming</span>
      </h4>
    </div>
  </div>
  <div class="blog-container" flex vertical center-justified layout>
    <div class="blog-header-container">
      <div class="blog-header" flex>
        <h1>Blog Posts</h1>
      </div>
    </div>
    <div id="blog-list-container" style="height: 100%" flex horizontal layout>
      <div class="blog-list" style="height:100%; padding-top: 1.2rem;" flex vertical layout>
        <paper-shadow z="2"> </paper-shadow>
        <div id="back-top-container" style="">

          <a href="#top" style="text-decoration: none; color: #303030; float: right;">
            <paper-fab icon="expand-less" style="position: fixed; right: 6%; top: 90%; z-index: 10;"></paper-fab>
          </a>
        </div>

        <div id="articles-container">
          {% for article in articles %}
          {% include "include/article.html" %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>


<div id="Contact" class="bg-grey">
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
{% endblock script %}
